*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282C3E;
}

img {
  width: 100%;
  display: block;
}

.container {
  background-color: #090718;
}
.container .main-header {
  display: flex;
  justify-content: space-between;
  background-color: #090718;
}
@media (min-width: 1024px) {
  .container .main-header {
    max-width: 1024px;
    margin: auto;
  }
}
.container .main-header .ikon-box {
  flex: 1 80%;
}
@media (min-width: 768px) {
  .container .main-header .ikon-box {
    flex: 0 0 auto;
  }
}
.container .main-header .ikon-box .main-ul {
  flex: 1 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
.container .main-header .ikon-box .main-ul .ikon {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main-header .ikon-box .main-ul .ikon a {
  text-decoration: none;
  padding: 1rem;
}
@media (min-width: 768px) {
  .container .main-header .ikon-box .main-ul .ikon {
    margin-left: 1rem;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
  }
}
.container .main-header .ikon-box .main-ul .ikon .lila {
  font-size: 1.7rem;
  color: #9168BB;
}
@media (min-width: 768px) {
  .container .main-header .ikon-box .main-ul .ikon .lila {
    display: none;
  }
}
.container .main-header .ikon-box .main-ul .ikon.ikon-box-vit {
  background-color: #9168BB;
}
@media (min-width: 768px) {
  .container .main-header .ikon-box .main-ul .ikon.ikon-box-vit {
    background-color: transparent;
  }
}
.container .main-header .ikon-box .main-ul .ikon.ikon-box-vit .vit {
  font-size: 1.7rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .container .main-header .ikon-box .main-ul .ikon.ikon-box-vit .vit {
    display: none;
  }
}
.container .main-header .ikon-box .main-ul .ikon .nav-text {
  display: none;
  color: #DDDDDD;
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .container .main-header .ikon-box .main-ul .ikon .nav-text {
    display: flex;
  }
}
.container .main-header .ikon-box .main-ul .ikon.ikon-dollar {
  display: none;
}
.container .main-header .ikon-box .main-ul .ikon.ikon-dollar .ikon-dollar-lila {
  font-size: 1.9rem;
  color: #9168BB;
}
@media (min-width: 768px) {
  .container .main-header .ikon-box .main-ul .ikon.ikon-dollar {
    display: flex;
    justify-content: center;
  }
}
.container .main-header .ikon-box .main-ul .ikon.text-box-ekonomi {
  border-bottom: 5px solid #9168BB;
}
.container .main-header .profil {
  background-color: rgba(145, 104, 187, 0.2);
  flex: 1 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .container .main-header .profil {
    flex: 0 0 10%;
    background-color: #090718;
  }
}
.container .main-header .profil .container-search {
  display: none;
}
@media (min-width: 1024px) {
  .container .main-header .profil .container-search {
    display: block;
  }
}
.container .main-header .profil .container-search .visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container .main-header .profil .container-search .search-form {
  position: relative;
}
.container .main-header .profil .container-search .btn-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  color: #A6A8B5;
  border: none;
  background-color: #2E303B;
}
.container .main-header .profil .container-search .btn-search .icon-search {
  font-size: 1.5rem;
}
.container .main-header .profil .container-search #q {
  width: 18.2rem;
  height: 2.81rem;
  border-radius: 10px;
  border: none;
  padding-left: 3rem;
  color: #A6A8B5;
  font-size: 1rem;
  background-color: #2E303B;
}
.container .main-header .profil .container-search #q::-moz-placeholder {
  color: #A6A8B5;
}
.container .main-header .profil .container-search #q:-ms-input-placeholder {
  color: #A6A8B5;
}
.container .main-header .profil .container-search #q::placeholder {
  color: #A6A8B5;
}
.container .main-header .profil .profil-pic {
  width: 60px;
}/*# sourceMappingURL=style.css.map */